<?xml version="1.0" ?>
<robot name="partnet_cbd46097a3be604ce3f7a74e12a274ef">
	<link name="base"/>
	<link name="link_0">
		<visual name="hinge-12">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-12">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-12">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-13">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-13">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-13">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-13">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="hinge-13">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="surface_board-7">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="surface_board-7">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="surface_board-7">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="glass-8">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-5">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="fixed_part-10">
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.30969845503568644 0 0.024119412004947646"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0.30969845503568644 0 -0.024119412004947646"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="outside_frame-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="other_leaf-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="other_leaf-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
	<link name="link_2">
		<visual name="movable_part-6">
			<origin xyz="0.27921457650139947 -0.008014151086460485 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<visual name="movable_part-11">
			<origin xyz="0.27921457650139947 -0.008014151086460485 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.27921457650139947 -0.008014151086460485 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.27921457650139947 -0.008014151086460485 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj" scale="1.4 1.4 1.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin xyz="-0.5889130315370859 0.008014151086460485 0.024119412004947646"/>
		<axis xyz="0 0 -1"/>
		<child link="link_2"/>
		<parent link="link_0"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
</robot>
