<launch>
  
	<param name="robot_description" command="$(find xacro)/xacro '$(find ezgripper_driver)/urdf/ezgripper_quad_standalone.urdf.xacro'" /> 

  <rosparam file="$(find ezgripper_driver)/config/controllers_quad.yaml" command="load"/> 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>

  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
  </include>

 
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model sake_robot" />

	
  

</launch>
