<?xml version="1.0" ?>
<robot name="partnet_302650a74e884d99544782db8258108">
	<link name="base"/>
	<link name="link_0">
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0 0 0"/>
		<axis xyz="1 0 0"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="-0.6839999999999999" upper="0"/>
	</joint>
	<link name="link_1">
		<visual name="translation-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="translation-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="0 0 0"/>
		<axis xyz="1 0 0"/>
		<child link="link_1"/>
		<parent link="link_2"/>
		<limit lower="-0.008000000000000007" upper="0.6640000000000001"/>
	</joint>
	<link name="link_2">
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="0.4 0.4 0.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
